<h1>Seleccione cliente</h1>

<%@user.each do |a| %>
<%@cons='0'%>
<br><%if a.role=='client'%>
<%@client.each do |b| %>
<%if b.user_id == a.id %>
  <td><%=  a.nombre  %></td>
<%@attention.each do |x| %>
<%if x.client_id == b.id %>
<% @cons = '1'%>
<%end%>
<%end%>

<% if @cons =='1' %>
    <td><%= link_to '', attentions_client_path(b),class:"far fa-eye"%> </td>

<%end%>
<%end%>
<%end%>

<%end%>

<% end %>