<div class="container">
<center> <div class=""style="margin-top:50px;background-color: rgba(219, 220, 223, 0.7);width:400px; padding:20px;border-radius:30px 30px 30px 30px;">
 <h1>Crear perfil</h1>
   <%= render "form"%>
   <br>
     <%= link_to 'volver' , attentions_path,:class=>"form-control btn btn-success"%>
</div></center>

</div>
