<br>
<div class="container" style="background-color: rgba(228, 228, 228, 0.61);padding:40px;border-radius:30px 30px 30px 30px;">

  <h3> Seleccione tipo de perfil que desea crear</h3>
  <br>
  <%a ='admin'%>
  <%p= 'professional'%>
  <%c='client'%>
  <div class="row">

    <div class="col-sm-3">
        <%= link_to "ADMINISTRADOR ", new_user_path(:role => "admin" ), :class =>"btn btn-danger"%>
    </div>
    <div class="col-sm-2">
        <%= link_to "CLIENTE ", new_user_path(:role => "client" ), :class =>"btn btn-primary"%>
    </div>
    <div class="col-sm-2">
        <%= link_to "PROFESIONAL ", new_user_path(:role => "professional" ), :class =>"btn btn-success"%>
    </div>

  </div>


</div>
