// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background{
  background-color: grey;
  background-image: url('fondo1.jpg');
  background-origin: inherit;
		background-clip: inherit;
		background-size: 100%;
		background-repeat: no-repeat;
		height: 150px;
}
@media screen and (max-width:300px) {
  .background{
    background-image: url('fondo1.jpg');
    background-origin: inherit;
  		background-clip: inherit;
  		background-size: 50%;
  		background-repeat: no-repeat;
  		height: 50px;
  }
}
