// Place all the styles related to the professionals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.Professional_nav>ul{
  border:0px !important;

}
.Professional_nav{
  background-color: #008FFF;
  color: white;
  box-shadow: 0px -4px 20px 1px #00467D;
  border: 0px !important;
}
.Professional_nav>ul>li>a{
  color: white;
}
.Professional_nav>ul>li>a:hover{
  background-color: #007AD9;
  border: 0px;
  border-radius: 0;

}
